<div class="container">
    <h2>Register User</h2>
    <form (ngSubmit)="onSubmit()">
      <div>
        <label for="name">Name: </label>
        <input type="text" id="name" name="name" [(ngModel)]="registerData.name" required>
      </div>
      <div>
        <label for="username">Username: </label>
        <input type="text" id="username" name="username" [(ngModel)]="registerData.username" required>
      </div>
      <div>
        <label for="password">Password: </label>
        <input type="password" id="password" name="password" [(ngModel)]="registerData.password" required>
      </div>
      <button type="submit">Register</button>
    </form>
  </div>
  